<div class="container wrap">
	<div class="goods-property-box" *ngFor="let item of goodsData">
		<h1>请选择商品属性</h1>
		<div class="goods-info">
			<div class="left">
				<div class="goods-imgs">
					<img src="http://placehold.it/300x300">
				</div>
			</div>
			<div class="right">
				<div class="goods-name">{{item.name}}</div>
				<div class="goods-price">0元+{{item.price}}积分</div>
			</div>
		</div>
		<div class="goods-property">
			<div class="property-1">
				<h2>{{goodsProperty1.name}}</h2>
				<ul>
					<li *ngFor="let property of goodsProperty1.property">{{property}}</li>
				</ul>
			</div>
			<div class="property-2">
				<h2>{{goodsProperty2.name}}</h2>
				<ul>
					<li *ngFor="let property of goodsProperty2.property">{{property}}</li>
				</ul>
			</div>
			<h2>数量</h2>
			<app-goods-num></app-goods-num>
		</div>
	</div>
	<app-buy-btn-group></app-buy-btn-group>
</div>