<div class="container wrap">
	<div class="goods-property-box">
		<h1>请选择商品属性</h1>
		<div class="goods-info">
			<div class="left">
				<div class="goods-imgs">
					<img src="http://placehold.it/300x300">
				</div>
			</div>
			<div class="right">
				<div class="goods-name">{{goodsName}}</div>
				<div class="goods-price">0元+{{goodsPrice}}积分</div>
			</div>
		</div>
		<div class="goods-property">
			<div class="property" *ngFor="let item of goodsProperties">
				<h2>{{item.name}}</h2>
				<ul>
					<li *ngFor="let property of item.property" (click)="chooseProperty(property,$event)" class="goods_property {{item.name}}">{{property}}</li>
				</ul>
			</div>
			<h2>数量</h2>
			<app-goods-num></app-goods-num>
		</div>
	</div>
	<app-buy-btn-group></app-buy-btn-group>
</div>