.wrap{
	width:10rem;
	height:auto;
	min-height:95%;
	padding:0;
	background:#fff;
}
.row{
	margin:0;
}
.goods-property-box h1{
	font-size:0.42rem;
	font-weight:bold;
	text-align:center;
	margin:0.2rem 0;
}
.goods-property-box h2{
	font-size:0.38rem;
	margin:0.2rem 0;
}
.goods-property-box{
	padding:0.6rem 0.5rem;
}
.goods-property-box .goods-info{
	overflow:hidden;
	margin-bottom:0.9rem;
}
.goods-property-box .goods-info .left{
	float:left;
}
.goods-property-box .goods-info .left img{
	width:3.6rem;
	border:.02333rem solid #efefef;
}
.goods-property-box .goods-info .right{
	float:left;
	margin:0.6rem 0 0 0.3rem;
}
.goods-property-box .goods-info .right .goods-name{
	font-size:0.42rem;
	margin-bottom:0.1rem;
}
.goods-property-box .goods-info .right .goods-price{
	font-size:0.38rem;
	color:#ab2b2b;
}
.goods-property-box .goods-property ul{
	display:flex;
	align-items:center;
	justify-content:flex-start;
	flex-wrap:wrap;
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:0.5rem;
}
.goods-property-box .goods-property ul li{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:0.38rem;
	line-height:1;
	border:0.02333rem solid #666;
	padding:0.105rem 0.23rem 0.08rem 0.23rem;
	min-width:1rem;
	margin-right:0.2rem;
	margin-bottom:0.15rem;
}
.goods-property-box .goods-property ul .active{
	color:#ab2b2b;
	border-color:#ab2b2b;
}


